/out/
/out/artifacts/
/out/artifacts/cncArm_jar/
/out/artifacts/cncArm_jar/cncArm.jar
/out/artifacts/cncArm_jar/run.bat
/out/production/
/module_cncarm.xml
/cncarm_Tue_Nov_12_14-10-07_CET_2019.xml
/cncarm_Tue_Nov_12_14-10-07_CET_2019.properties
/cncarm.xml
/cncarm.properties
